<app-nav></app-nav>

<div id="form-cont">
<form #myForm="ngForm" (ngSubmit)="myForm.resetForm()">

  <input type="text" name="gusto"
         [(ngModel)]="newTask.title"
         placeholder="Add new Task">

  <button (click)="create()" >+</button>


</form>
  <p id="wait" *ngIf="!taskArray.length">Inserisci nuovo task per visualizzarlo</p>

</div>
<div *ngFor="let task of taskArray">
  <p *ngIf="!task.completed">
<app-task-row
  [taskTitle]= "task.title"
  [task]= "task"
  (completed)="getData($event)"

>

</app-task-row>
  </p>
</div>

