#form-cont{
  text-align: center;
  margin: 2em;
  form{
    input{
      text-align: center;
      width: 40%;
      background-color: rgba(211, 211, 211, 0.18);
      }
    button{
      background-color: transparent;

      }
    }
  }
